html,body {
  height: 100%;
}
hr {
  display: block;
  height: 1px;
  width: 95%;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em auto;
  padding: 0;
  background-color: rgb(255,255,255);
}
.container {
  table {
    thead {
      background-color: #cfdfbe;
    }
  }
}

// 汎用
.width5 {
  width: 5%;
}
.width10 {
  width: 10%;
}
.width15 {
  width: 15%;
}
.width20 {
  width: 20%;
}
.width25 {
  width: 25%;
}
.width30 {
  width: 30%;
}
.width35 {
  width: 35%;
}
.width40 {
  width: 40%;
}
.width45 {
  width: 45%;
}
.width50 {
  width: 50%;
}
.width55 {
  width: 55%;
}
.width60 {
  width: 60%;
}
.width65 {
  width: 65%;
}
.width70 {
  width: 70%;
}
.width75 {
  width: 75%;
}
.width80 {
  width: 80%;
}
.width85 {
  width: 85%;
}
.width90 {
  width: 90%;
}
.width95 {
  width: 95%;
}
.width100 {
  width: 100%;
}

// 要素個別
#spin-result {
  position: relative;
  text-align: center;
  img {
    margin: 10px;
    width: 10%;
    height: 10%;
  }
  #spin-result-num {
    position: absolute;

    // color: #FFF;
    -webkit-text-stroke-color: #fff;
    -webkit-text-stroke-width: 5px;
  }
}
#operation-btn {
  text-align: center;
  button {
    margin: 10px;
  }
}
#bet-table {
  width: 100%;
  padding: 0 3em;
  table {
    th {
      width: 5.25%;
      text-align: center;
    }
    tr {
      text-align: center;
    }
  }
}
#spin-result-history-table {
  width: 20%;
  float: left;
  padding: 0 3em;
  table {
    th {
      text-align: center;
    }
    tr {
      text-align: center;
    }
  }
}
#spin-result-profit-table {
  width: 35%;
  float: left;
  padding: 0 3em;
  table {
    overflow-y: scroll;
    caption {
      div {
        float: left;
      }
      .input-group.date {
        float: right;
        width: 60%;
        top: -10px;
      }
    }
    th {
      text-align: center;
    }
    tr {
      text-align: center;
    }
  }
}
#month-profit-table {
  width: 20%;
  float: left;
  padding: 0 3em;
  table {
    th {
      text-align: center;
    }
    tr {
      text-align: center;
    }
  }
}
